@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s linear;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background-color: gold;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background-color: aliceblue;
}

html{
    background-color: rgb(19, 20, 20);
    font-size: 15.5px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: rgb(242, 242, 247);
}
section{
    padding: 3rem 9%;
}
.heading{
    background: url("h4.png") no-repeat;
    background-size: cover;
    background-position:center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.heading h1{
    color: rgb(232, 130, 5);
    font-size: 4rem;
}
.title{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    padding: 1.2rem 0;
    border-bottom: 0.1rem solid gold;
    color: gold;
}
.title span{
    color: gold;
    padding-left: .7rem;
}
.title a{
    margin-left: auto;
    color:rgb(208, 182, 11);
    font-size: 1.5rem;
}
.title a:hover{
    color: white;
}
/*Header Section.....................*/
.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: rgb(21, 21, 21);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    box-shadow: 0 0.5rem 1rem rgb(211, 181, 8);
}
.header .logo{
    text-shadow: 5rem;
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(211, 181, 8);
}
.header .logo .i{
    padding-right: .3rem;
}
.header .navbar a{
    font-size: 1rem;
    color:  rgb(211, 181, 8);
    margin: 0 1rem;
}
.header .navbar a:hover{
    color:  rgb(243, 242, 239);
    text-decoration: underline;
}
.header .icons div{
    font-size: 1.3rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: rgb(211, 181, 8);
}
.header .icons div:hover{
    color: rgb(243, 242, 239);
}
#menu-btn{
    display: none;
}

@keyframes fadeLeft {
    0%{
        opacity: 0;
        transform: translateX(-5rem);
    }

}
@keyframes fadeUp {
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
}
/* Home Section.............. */
.home{
    padding-top: 4rem;
    background-size: cover;
    background-position: center;
    position: relative;
}
.home .slides-container .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    display: none;
}
.home .slides-container .slide.active{
    display: flex;
}
.home .slides-container .slide .content{
    flex: 3 3 35rem;
    animation: fadeLeft .4s linear .4s backwards;   
}
.home .slides-container .slide .content span{
    color: gold;
    font-size: 2rem;
}
.home .slides-container .slide .content h3{
    font-size: 3rem;
    color: gold;
    padding: 2rem 0;
}
.home .slides-container .slide .img{
    flex: 1 1 30rem;
    margin: 3rem 0;
}
.home .slides-container .slide .img img{
    width: 100%;
    animation: fadeUp .4s linear;
}
.btn{
    border-radius: 3rem;
    box-shadow: 0.2rem  0.5rem 1rem rgb(212, 188, 188)
}
.home #next-slide,
.home #prev-slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    box-shadow: 0 0.3rem 1rem gold;
    text-align: center;
    background: rgb(52, 52, 51);
    font-size: 2rem;
    color: gold;
    cursor: pointer;
}
.home #next-slide:hover,
.home #prev-slide:hover{
    background: whitesmoke;
    color: gold;
}
.home #prev-slide{
    left: 2rem;
}
.home #next-slide{
    right: 2rem;
}
/* Banner Section................. */
.banner-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}
.banner-container .banner{
    position: relative;
    height: 25rem;
    overflow: hidden;
}
.banner-container .banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0.3rem 1rem gold;
}
.banner-container .banner .content{
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}
.banner-container .banner .content span{
    color: gold;
    font-size: 1.5rem;
}
.banner-container .banner .content h3{
    font-size: 2rem;
    padding-top: .5rem;
    color: gold;
}
.banner-container .banner .content .btn{
    padding: .8rem 2.5rem;  
}
.banner-container .banner:hover img{
    transform: scale(1.2);
}
/* Categories Section................ */
.Categories .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 4rem;
    padding: 4rem 0;
}
.Categories .box-container .box{
    text-align: center;
}
.Categories .box-container .box img{
    height: 20rem;
    width: 20rem;
}
.Categories .box-container .box h3{
    font-size: 2rem;
    margin: 1rem 0;
    color: gold;
}
.Categories .box-container .box h3:hover{
    color: whitesmoke;
}
/* Product Section................ */
.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    justify-content: center;
    align-items: start;
    padding: 2rem;
}
.products .box-container .box{
    position: relative;
    background-color: rgb(24, 97, 157);
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.3s ease;
}
.products .box-container .box:hover .icons{
    opacity: 1;
}
.products .box-container .box .icons{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15rem;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 1rem;
    opacity: 0;
    transition: 0.4s ease;
}
.products .box-container .box .icons a{
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: rgb(79, 106, 134);
    box-shadow: 0 0.5rem 1rem gold;
    color: rgb(225, 211, 211);
    border-radius: 50%;
    text-align: center;
    transition: 0.3s ease;
}
.products .box-container .box .icons a:hover{
    background: rgb(233, 233, 223);
    color: rgb(221, 6, 6);
}
.products .box-container .box .img{
    height: 25rem;
    width: 100%;
    overflow:hidden;
}
.products .box-container .box .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.products .box-container .box .content{
    padding: 1rem;
}
.products .box-container .box .content h3{
    font-size: 1.5rem;
    color: gold;
}
.products .box-container .box .content .price{
    font-size: 2rem;
    color: gold;
    padding: 1rem 0;
}
.products .box-container .box .content .stars i{
    font-size: 1.5rem;
    color: rgb(221, 179, 9);
}
/* About Section ...............*/
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.about .img{
    float: 1 1 40rem;
}
.about .img img{
    width:600px;
    box-shadow: 0 0.5rem 1rem gold;
}
.about .content{
    flex: 1 1 35rem;
}
.about .content span{
    color: gold;
    font-size: 2rem;
}
.about .content h3{
    color: gold;
    padding-top: .5rem;
    font-size: 2rem;
}
.about .content p{
    color: whitesmoke;
    font-size: 1.4rem;
    padding:1rem 0;
    line-height: 2;
}
.gallery .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}
.gallery .box-container .box{
    height: 25rem;
    overflow: hidden;
    position: relative;
}
.gallery .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0.5rem 1rem gold;
}
.gallery .box-container .box:hover img{
    transform: scale(1.2);
}
.gallery .box-container .box:hover .icons{
    bottom: 0;
}
.gallery .box-container .box .icons{
    text-align: center;
    background: rgb(210, 209, 208);
    padding: 1.5rem 0;
    position: absolute;
    bottom: -6rem;
    left: 0;
    right: 0;
    z-index: 10;
}
.gallery .box-container .box .icons a{
    font-size: 2.5rem;
    color: rgb(59, 58, 58);
    margin: 0 1.5rem;
}
.gallery .box-container .box .icons a:hover{
    color: rgb(212, 43, 9);
}
.review{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}
.review .box{
    padding: 2rem;
    border: 0.1rem solid gold;
    box-shadow: 0 0.4rem 0.4rem gold;
}
.review .box .user{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
} 
.contact .icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}
.contact .icons-container .icons{
    text-align: center;
    border: 0.1rem solid gold;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem gold;
}
.contact .icons-container .icons i{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: whitesmoke;
    color: gold;
    border-radius: 50%;    
}
.contact .icons-container .icons h3{
    color: beige;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.contact .icons-container .icons p{
    color: whitesmoke;
    font-size: 1.4rem;
    line-height: 1;
}
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1rem;
}
.contact .row form{
    padding: 2rem;
    border: 0.1rem solid gold;
    box-shadow: 0 0.4rem 0.4rem gold;
    flex: 1 1 40rem;
}
.contact .row form h3{
    font-size: 2rem;
    padding-bottom: 0.5rem;
    color: gold;
}
.contact .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact .row form .inputBox .box,
.contact .row form textarea{
    padding: 1rem 1.2rem;
    font-size: 1.5rem;
    border: 0.1rem solid gold;
    box-shadow: 0  0.4rem 0.5rem rgb(189, 180, 132);
    color: rgb(10, 10, 10);
    text-transform: none;
    margin: .7rem 0;
}
.contact .row form textarea{
    width: 100%;
    height: 15rem;
    resize: none;
}
.space{
    min-height: 10vh;
} 
.footer{
    background: rgb(30, 30, 30);
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}
.footer .box-container .box h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: gold;
}

.footer .box-container .box a{
    font-size: 1.4rem;
    color: gold;
    padding: 1rem 0;
    display: block;
}
.footer .box-container .box a:hover{
    color: whitesmoke;
}
.footer .box-container .box a:hover i{
    padding-right: 4rem;   
}
.footer .box-container .box a i{
    padding-top: .5rem;
    color: beige;
}















@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 6rem;
    }
    section{
        padding: 3rem 2rem;
    }
    .home #next-slide,
    .home #prev-slide{
        transform: translateY(0);
        top: 88%;
    }
    .home #prev-slide{
        left: auto;
        right: 8rem;
    }
}
@media (max-width: 768px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: rgb(221, 220, 217);
        border-top: 0.1rem solid rgb(197, 191, 191);
        border-bottom:  0.1rem solid rgb(197, 191, 191);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: rgb(17, 17, 16); 
        font-size: 1rem;
        display: block;
        border-radius: .5rem;
    }
    .home{
        margin-top: 15rem;
    }
}
@media (max-width: 450px){
    html{
        font-size: 50%;
        width: 100%;
    }
    .home .slides-container .slide h3{
        font-size: 2rem;
    }
    .contact .row form .inputBox input{
        width: 100%;
    }
}